* {
	box-sizing: border-box;
}

ul {
	list-style: none;
}

.edit-delete-buttons {
	display: none;
}

body {
	background-image: linear-gradient(#5773a8, #e6f9fe);
	font-family: 'Niramit', sans-serif;
	color: white;
	height: 100%;
	font-size: 19px;
}
}

/*text*/

h2 {
	font-style: italic;
}

/*button stylings*/
button {
	border: none;
	background-color:#ffffff;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#5773a8;
	font-size:16px;
	font-weight:600;
	padding:13px; 
	text-decoration:none;
	transition: all 0.15s;
}

button:hover {
	color: #ffffff;
	background-color: #5773a8;
}

button:active {
	position:relative;
	top:1px;
}

.buttons-section {
	text-align: center;
	margin-bottom: 12px;
}

.editButton, .deleteButton {
	font-size: 12px;
	background: none;
	padding: 0px 5px;
	color: #1a001a;
}

.editButton:hover, .deleteButton:hover {
	color: #ffffff;
	background-color: transparent;
}


/*background divs*/

.daily-list, .weekly-list, .monthly-list {
	background-color: rgb(23, 17, 34, 0.4);
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	border-radius:8px;
	padding: 8px 35px;
	margin-bottom: 12px;
}

.very-important-div {
	background-color: rgb(23, 17, 34, 0.4);
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	border-radius:8px;
	padding: 8px 35px;
	margin-bottom: 12px;
}


.very-important-title {
	color: white;
	text-align: center;
	text-shadow: 3px 3px 5px #ffff4d;
}

/*normal checkboxes*/
.checkBox {
	visibility: hidden;
}

.checkBox:before {
	content: "◻";
	visibility: visible;
	color: white;
}

.checkBox:checked:before {
	content: "✓";
	color: #330033;
}


/*stared checkbox*/
.star {
	visibility: hidden;
}

.star:before {
	content: "\2606";
	visibility: visible;
	color: white;
}

.star:checked:before {
	content: "\2605";
	color: #ffff4d;
}
